@media (min-width: 1280px) {
  .x .c1-f {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  .x .c1-12 {
    width: 1160px;
  }
}

@media (min-width: 1280px) {
  .x .c1-2o {
    font-size: 32px;
  }
}

@media (min-width: 1280px) {
  .x .c1-30 {
    font-size: 44px;
  }
}

@media (min-width: 1280px) {
  .x .c1-35 {
    font-size: 22px;
  }
}

@media (min-width: 1280px) {
  .x .c1-59 {
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  .x .c1-5v {
    font-size: 12px;
  }
}
