@media (min-width: 768px) {
  .x .c1-d {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .x .c1-u {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .x .c1-10 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-1n {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .x .c1-2l {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .x .c1-2y {
    font-size: 38px;
  }
}

@media (min-width: 768px) {
  .x .c1-33 {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  .x .c1-3g {
    display: flex;
  }
}

@media (min-width: 768px) {
  .x .c1-3h {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .x .c1-3i {
    min-height: unset;
  }
}

@media (min-width: 768px) {
  .x .c1-3k {
    min-width: 50%;
  }
}

@media (min-width: 768px) {
  .x .c1-3t {
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .x .c1-3u {
    min-height: 400px;
  }
}

@media (min-width: 768px) {
  .x .c1-3v {
    height: auto;
  }
}

@media (min-width: 768px) {
  .x .c1-41 {
    min-width: 360px;
  }
}

@media (min-width: 768px) {
  .x .c1-42 {
    flex-basis: 360px;
  }
}

@media (min-width: 768px) {
  .x .c1-43 {
    padding-top: 40px;
  }
}

@media (min-width: 768px) {
  .x .c1-44 {
    padding-right: 40px;
  }
}

@media (min-width: 768px) {
  .x .c1-45 {
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .x .c1-46 {
    padding-left: 40px;
  }
}

@media (min-width: 768px) {
  .x .c1-4a {
    max-height: 80vh;
  }
}

@media (min-width: 768px) {
  .x .c1-56 {
    width: auto;
  }
}

@media (min-width: 768px) {
  .x .c1-57 {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .x .c1-5t {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .x .c1-6l {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .x .c1-6m {
    max-height: 500px;
  }
}

@media (min-width: 768px) {
  .x .c1-6n {
    border-radius: 7px;
  }
}

@media (min-width: 768px) {
  .x .c1-6o {
    margin-top: 24px;
  }
}

@media (min-width: 768px) {
  .x .c1-6p {
    margin-right: 24px;
  }
}

@media (min-width: 768px) {
  .x .c1-6q {
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) {
  .x .c1-6r {
    margin-left: 24px;
  }
}

@media (min-width: 768px) {
  .x .c1-6v {
    max-height: 200px;
  }
}
