.x .c1-1 {
    letter-spacing: normal
}

.x .c1-2 {
    text-transform: none
}

.x .c1-3 {
    background-color: rgb(255, 255, 255)
}

.x .c1-4 {
    width: 100%
}

.x .c1-5>div {
    position: relative
}

.x .c1-6>div {
    overflow: hidden
}

.x .c1-7>div {
    margin-top: auto
}

.x .c1-8>div {
    margin-right: auto
}

.x .c1-9>div {
    margin-bottom: auto
}

.x .c1-a>div {
    margin-left: auto
}

.x .c1-b {
    font-family: Open Sans, Hiragino Sans GB, sans-serif
}

.x .c1-c {
    font-size: 16px
}

.x .c1-h {
    padding-top: 40px
}

.x .c1-i {
    padding-bottom: 40px
}

.x .c1-j {
    padding: 0 !important
}

.x .c1-k:before {
    content: ""
}

.x .c1-l:before {
    display: table
}

.x .c1-m:before {
    clear: both
}

.x .c1-n:after {
    content: ""
}

.x .c1-o:after {
    display: table
}

.x .c1-p:after {
    clear: both
}

.x .c1-s {
    position: relative
}

.x .c1-t {
    margin-bottom: 24px
}

.x .c1-v {
    margin-left: auto
}

.x .c1-w {
    margin-right: auto
}

.x .c1-x {
    padding-left: 24px
}

.x .c1-y {
    padding-right: 24px
}

.x .c1-z {
    max-width: 100%
}

.x .c1-14 {
    display: none
}

.x .c1-16 {
    padding-top: 32px
}

.x .c1-17 {
    padding-bottom: 32px
}

.x .c1-18 {
    flex: 1
}

.x .c1-19 {
    display: flex
}

.x .c1-1a {
    justify-content: space-between
}

.x .c1-1b {
    align-items: center
}

.x .c1-1c {
    padding-top: 24px
}

.x .c1-1d {
    justify-content: flex-start
}

.x .c1-1e {
    width: 30%
}

.x .c1-1f {
    justify-content: center
}

.x .c1-1g {
    text-align: center
}

.x .c1-1h {
    width: 40%
}

.x .c1-1i {
    display: inline-block
}

.x .c1-1j {
    font-family: Playfair Display, '儷黑 Pro', LiHei Pro, sans-serif
}

.x .c1-1o {
    letter-spacing: inherit
}

.x .c1-1p {
    text-transform: inherit
}

.x .c1-1q {
    text-decoration: none
}

.x .c1-1r {
    word-wrap: break-word
}

.x .c1-1s {
    overflow-wrap: break-word
}

.x .c1-1t {
    display: inline
}

.x .c1-1u {
    cursor: pointer
}

.x .c1-1v {
    border-top: 0px
}

.x .c1-1w {
    border-right: 0px
}

.x .c1-1x {
    border-bottom: 0px
}

.x .c1-1y {
    border-left: 0px
}

.x .c1-1z {
    color: rgb(122, 111, 105)
}

.x .c1-20 {
    font-weight: inherit
}

.x .c1-21:hover {
    color: rgb(68, 63, 61)
}

.x .c1-22:active {
    color: rgb(45, 41, 40)
}

.x .c1-23 {
    letter-spacing: 0.031em
}

.x .c1-24 {
    line-height: 1
}

.x .c1-25 {
    margin-top: 0
}

.x .c1-26 {
    margin-bottom: 0
}

.x .c1-27 {
    padding-top: 8px
}

.x .c1-28 {
    padding-bottom: 8px
}

.x .c1-29 {
    padding-left: 16px
}

.x .c1-2a {
    padding-right: 16px
}

.x .c1-2b {
    width: fit-content
}

.x .c1-2c {
    border-style: solid
}

.x .c1-2d {
    border-color: rgb(21, 21, 21)
}

.x .c1-2e {
    border-top-width: 1px
}

.x .c1-2f {
    border-right-width: 1px
}

.x .c1-2g {
    border-bottom-width: 1px
}

.x .c1-2h {
    border-left-width: 1px
}

.x .c1-2i {
    color: rgb(21, 21, 21)
}

.x .c1-2j {
    font-size: 28px
}

.x .c1-2k {
    font-weight: 400
}

.x .c1-2q {
    word-wrap: normal !important
}

.x .c1-2r {
    overflow-wrap: normal !important
}

.x .c1-2s {
    width: auto
}

.x .c1-2t {
    visibility: hidden
}

.x .c1-2u {
    position: absolute
}

.x .c1-2v {
    overflow: visible
}

.x .c1-2w {
    left: 0px
}

.x .c1-2x {
    font-size: 32px
}

.x .c1-32 {
    font-size: 22px
}

.x .c1-37 {
    justify-content: flex-end
}

.x .c1-38 {
    padding-bottom: 24px
}

.x .c1-3a {
    width: 0px
}

.x .c1-3b {
    padding-top: 0px
}

.x .c1-3c {
    padding-right: 0px
}

.x .c1-3d {
    padding-bottom: 0px
}

.x .c1-3e {
    padding-left: 0px
}

.x .c1-3j {
    overflow: hidden
}

.x .c1-3l {
    margin-right: 0px
}

.x .c1-3m {
    margin-left: 0px
}

.x .c1-3n {
    height: 100%
}

.x .c1-3o {
    border-width: 0 !important
}

.x .c1-3p {
    vertical-align: middle
}

.x .c1-3q {
    aspect-ratio: 1.4755043227665705 / 1
}

.x .c1-3r {
    border-radius: 0px !important
}

.x .c1-3w {
    flex-direction: column
}

.x .c1-3x {
    flex-grow: 1
}

.x .c1-3y {
    padding-top: 56px
}

.x .c1-3z {
    padding-bottom: 56px
}

.x .c1-40 {
    background-color: rgb(244, 243, 243)
}

.x .c1-4b {
    max-width: 750px
}

.x .c1-4c {
    letter-spacing: 0.125em
}

.x .c1-4d {
    text-transform: uppercase
}

.x .c1-4e {
    line-height: 1.25
}

.x .c1-4f {
    margin-bottom: 16px
}

.x .c1-4g {
    text-align: inherit
}

.x .c1-4h {
    width: inherit
}

.x .c1-4i {
    display: block
}

.x .c1-4j {
    line-height: 1.2
}

.x .c1-4k {
    letter-spacing: 0.023em
}

.x .c1-4l {
    white-space: pre-line
}

.x .c1-4m {
    flex-wrap: wrap
}

.x .c1-4n {
    column-gap: 24px
}

.x .c1-4o {
    row-gap: 24px
}

.x .c1-4p {
    margin-top: 16px
}

.x .c1-4r {
    letter-spacing: 0.214em
}

.x .c1-4s {
    transition: all 0.3s
}

.x .c1-4t {
    border-style: none
}

.x .c1-4u {
    display: inline-flex
}

.x .c1-4v {
    padding-left: 32px
}

.x .c1-4w {
    padding-right: 32px
}

.x .c1-4x {
    min-height: 56px
}

.x .c1-4y {
    border-radius: 0px
}

.x .c1-4z {
    color: rgb(0, 0, 0)
}

.x .c1-50 {
    background-color: rgb(164, 153, 148)
}

.x .c1-51 {
    font-weight: 700
}

.x .c1-52 {
    text-shadow: none
}

.x .c1-53 {
    font-size: 14px
}

.x .c1-54:hover {
    background-color: rgb(191, 180, 175)
}

.x .c1-5b {
    padding-left: none
}

.x .c1-5c {
    padding-right: none
}

.x .c1-5d {
    padding-top: none
}

.x .c1-5e {
    padding-bottom: 16px
}

.x .c1-5f {
    row-gap: 0px
}

.x .c1-5g {
    column-gap: 0px
}

.x .c1-5i {
    color: rgb(127, 116, 111)
}

.x .c1-5j:hover {
    color: rgb(75, 70, 67)
}

.x .c1-5k:active {
    color: rgb(52, 48, 46)
}

.x .c1-5l {
    color: rgb(27, 27, 27)
}

.x .c1-5m {
    padding-top: 6px
}

.x .c1-5n {
    padding-right: 6px
}

.x .c1-5o {
    padding-bottom: 6px
}

.x .c1-5p {
    padding-left: 6px
}

.x .c1-5q {
    letter-spacing: 0.083em
}

.x .c1-5r {
    line-height: 1.5
}

.x .c1-5s {
    font-size: 12px
}

.x .c1-5x {
    box-sizing: border-box
}

.x .c1-5y {
    flex-direction: row
}

.x .c1-5z {
    flex-shrink: 1
}

.x .c1-60 {
    flex-basis: 100%
}

.x .c1-63 {
    color: rgb(89, 89, 89)
}

.x .c1-65 {
    font-size: inherit !important
}

.x .c1-66 {
    color: inherit
}

.x .c1-67 {
    line-height: inherit
}

.x .c1-68 {
    font-style: italic
}

.x .c1-69 {
    text-decoration: line-through
}

.x .c1-6a {
    text-decoration: underline
}

.x .c1-6b {
    position: fixed
}

.x .c1-6c {
    right: 0px
}

.x .c1-6d {
    z-index: 10000
}

.x .c1-6e {
    height: auto
}

.x .c1-6f {
    text-align: left
}

.x .c1-6g {
    overflow-y: auto
}

.x .c1-6h {
    transition: all 1s ease-in
}

.x .c1-6i {
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.3)
}

.x .c1-6j {
    contain: content
}

.x .c1-6k {
    bottom: -500px
}

.x .c1-6s {
    letter-spacing: 0.045em
}

.x .c1-6t {
    max-height: 300px
}

.x .c1-6u {
    color: rgb(14, 14, 14)
}

.x .c1-6w {
    margin-top: 24px
}

.x .c1-6x {
    margin-bottom: 4px
}

.x .c1-6y {
    word-break: break-word
}

.x .c1-6z {
    flex-basis: 50%
}

.x .c1-70 {
    padding-top: 4px
}

.x .c1-71 {
    padding-bottom: 4px
}

.x .c1-72 {
    min-height: 40px
}

.x .c1-73 {
    color: rgb(219, 219, 219)
}

.x .c1-74 {
    background-color: rgb(22, 22, 22)
}

.x .c1-75:hover {
    background-color: rgb(0, 0, 0)
}

.x .c1-76:nth-child(2) {
    margin-left: 24px
}