@media (min-width: 1024px) {
    .x .c1-e {
    font-size: 16px
    }
}

@media (min-width: 1024px) {
    .x .c1-11 {
    width: 984px
    }
}

@media (min-width: 1024px) {
    .x .c1-15 {
    display: block
    }
}

@media (min-width: 1024px) {
    .x .c1-2m {
    overflow-wrap: break-word
    }
}

@media (min-width: 1024px) {
    .x .c1-2n {
    font-size: 30px
    }
}

@media (min-width: 1024px) {
    .x .c1-2z {
    font-size: 38px
    }
}

@media (min-width: 1024px) {
    .x .c1-34 {
    font-size: 22px
    }
}

@media (min-width: 1024px) {
    .x .c1-39 {
    display: none
    }
}

@media (min-width: 1024px) {
    .x .c1-47 {
    max-width: 100%
    }
}

@media (min-width: 1024px) {
    .x .c1-48 {
    min-width: 388px
    }
}

@media (min-width: 1024px) {
    .x .c1-49 {
    flex-basis: 388px
    }
}

@media (min-width: 1024px) {
    .x .c1-55:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5)
    }
}

@media (min-width: 1024px) {
    .x .c1-58 {
    font-size: 14px
    }
}

@media (min-width: 1024px) {
    .x .c1-5u {
    font-size: 12px
    }
}

@media (min-width: 1024px) {
    .x .c1-61 {
    flex-basis: 0%
    }
}

@media (min-width: 1024px) {
    .x .c1-62 {
    max-width: none
    }
}

@media (min-width: 1024px) {
    .x .c1-64 {
    text-align: center
    }
}