$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

* {
  font-family: var(--sl-font-sans);
}

a {
  text-decoration: none;
  color: var(--sl-color-primary-600);
}

body {
  width: 100%;
  max-width: $xl;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1rem;
}

code {
  font-family: var(--sl-font-mono);
}

samp {
  font-family: var(--sl-font-mono);
}

ul {
  list-style-type: none;
}

table {
  text-align: left;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 1rem 0;
}

#courses-table {
  tr > td:nth-of-type(2) {
    font-family: var(--sl-font-mono);
  }
}

.projects-table {
  margin: 0 -1rem;
}

// Addtional

.card-header {
  width: 300px;
}

.card-header [slot="header"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header h3 {
  margin: 0;
}

.card-header sl-icon-button {
  font-size: var(--sl-font-size-medium);
}